
  <div class="puestos-container">
    <div class="rl-c">
      <div class="right-line"></div>
    </div>
    <div class="">
      <h2 class="text-center">Agregar Ciudadanos <i class="fa-solid fa-user-plus"></i></h2>
    </div>

    <div class="citizen-body">

      <form method="POST" action="{{#if editMode}}/ciudadanos-update{{else}}/ciudadanos-save{{/if}}" class="only-c-form">
      
        <div class="mb-3">
          <label for="documentoIdentidad" class="form-label"><i class="fa-solid fa-print"></i></label>
          <input type="text" class="sign-input" placeholder="Documento de identidad" id="documentoIdentidad" name="documentoIdentidad" value="{{#if editMode}}{{Ciudadano.documentoIdentidad}}{{/if}}" />
        </div>

        <div class="mb-3">
          <label for="nombre" class="form-label"><i class="fa-solid fa-user"></i></label>
          <input type="text" class="sign-input" placeholder="Nombre" id="nombre" name="nombre" value="{{#if editMode}}{{Ciudadano.nombre}}{{/if}}" />
        </div>
        
        <div class="mb-3">
          <label for="apellido" class="form-label"><i class="fa-regular fa-user"></i></label>
          <input type="text" class="sign-input" placeholder="Apellido" id="apellido" name="apellido" value="{{#if editMode}}{{Ciudadano.apellido}}{{/if}}" />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label"><i class="fa-solid fa-envelope"></i></label>
          <input type="email" class="sign-input" placeholder="Correo Electronico" id="email" name="email" value="{{#if editMode}}{{Ciudadano.email}}{{/if}}" />
        </div>

       <div class="save-state">
          <label for="estado">Estado:</label><br>
          <input type="radio" name="estado" value="activo" {{#if (equalValue Ciudadano.estado true)}} checked{{/if}} >Activo<br>
          <input type="radio" name="estado" value="inactivo" {{#if (equalValue Ciudadano.estado false)}} checked{{/if}} >Inactivo<br>
        </div>   

        {{#if editMode}}
          <input type="hidden" value="{{Ciudadano.id}}" name="id">
        {{/if}}

        <div class="cf-btn">
          <button type="submit" class="citizen-btn">{{#if editMode}}Actualizar{{else}}Agregar{{/if}}</button>
        </div>
      </form>
      <div class="citizen-info">
        <div class="ci-c">
          <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="citizen">
        </div>
        <div class="ci-i">
          <p>Bienvenido al registro para ciudadanos, donde tú eres el centro de todo. Aquí tienes un formulario para registrate en nuestra aplicación de votación.</p>
        </div>
      </div>
    </div>
  </div>


