<div class="puestos-container">
    <div class="circle-container">
        <div class="green-circle circle"></div>
        <div class="yellow-circle circle"></div>
        <div class="red-circle circle"></div>
    </div>
    
    <div class="Puestos-info">
    <h4>Bienvenido a los puestos!</h4>
    <p>Aqui veras todos los puestos disponibles para votar:</p>
    </div>
    <div class="dividor"></div>

    {{#if HasVotado}}

    <div class="puestos-list">
        <div class="puestos">
            <div class="left-color"></div>
            <div class="right-color"></div>
            <div>
                <p>Ya has votado</p>
                <p class="descripcion">No puedes volver a votar</p>
            </div>
            
        </div>
    {{else}}
    <div class="puestos-list">
        {{#each eleccion as |el|}}
         <a href="/votarPuestos?id={{el.id}}">
        <!--/{{puesto.id}} para obtener el id con el que estaba trabajando en el controlador exports.Candidatos-->
     
            <div class="puestos">
                <div class="left-color"></div>
                <div class="right-color"></div>
                <div>
                    <p>{{el.nombre}}</p>
                    <p class="descripcion">{{el.fechaRealizacion}}</p>
                </div>
                
            </div>
        
        {{/each}}
    </div>
               {{/if}}
    
    </a> 
    </div>
</div>
