<div class="puestos-container">
    <div class="right-lines">
        <div class="top-line line"></div>
        <div class="middle-line line"></div>
        <div class="bottom-line line"></div>
    </div>
    <div class="Puestos-info">
        <h4>Bienvenido a los candidatos!</h4>
        <p>Aqui veras y votaras por los candidatos para el puesto que elejiste:</p>
    </div>
    <div class="multiple-dividor">
        <div class="left-dividor"></div>
        <div class="right-dividor"></div>
    </div>
  
    <div class="puestos-list">
        <!-- aqui comienza el elemento del candidato -->
  {{#each candidato as |ca|}}
        <div class="candidato">
            <div class="cont-candi">
                <div class="img-container">
                    <img src="{{ca.foto}}" alt="candidato img" class="candi-img">
                </div>
                <div class="candi-info">
                    <h5 class="title-candi">{{ca.nombre}} {{ca.apellido}}</h5>
                    <p class="Cpuesto">Puesto: {{ca.puestoElectivo.dataValues.nombre}} </p>
                    <div class="candi-dividor"></div>
                    <p class="Cpartido">Partido: {{ca.partido.dataValues.nombre}}</p>
                </div>
                <div class="candi-maintenance">
                    <div class="candi-focus">
                        <i class="fa-solid fa-thumbtack"></i>
                    </div>

                    <form action="/save-voto" method="post">
                        <input type="hidden" name="idCandidato" value="{{ca.id}}">
                        <input type="hidden" name="idPuesto" value="{{ca.puestoElectivo.dataValues.id}}">
                        <input type="hidden" name="idEleccion" value="{{../eleccion.id}}">


                        <button class=" btn bg-success text-light">Votar</button>
                    </form>

                </div>
            </div>


        </div>
        {{/each}}
    </div>
   
</div>