<div class="puestos-container">
    <div class="circle-container">
        <div class="green-circle circle"></div>
        <div class="yellow-circle circle"></div>
        <div class="red-circle circle"></div>
    </div>
    
    <div class="Puestos-info">
    <h4>Bienvenido a los puestos!</h4>
    <p>Aqui veras todos los puestos disponibles para votar:</p>
    </div>
    <div class="dividor"></div>
    <div class="puestos-list">
        {{#each puestos as |puesto|}}
        <!--/{{puesto.id}} para obtener el id con el que estaba trabajando en el controlador exports.Candidatos-->
            <div class="puestos">
                <div class="left-color"></div>
                <div class="right-color"></div>
                <div>
                    <p>{{puesto.nombre}}</p>
                    <p class="descripcion">{{puesto.descripcion}}</p>
                </div>
                <div class="maintenance">
                    <a href="/edit-puesto/{{puesto.id}}?edit=true"><i class="fa-solid fa-pen"></i></a>
                    <form action="/delete-puesto" method="post">
                        <input type="hidden" name="puestoId" value="{{puesto.id}}">
                        <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
                
            </div>
        </a> 
        {{/each}}
    </div>
    <div class="create-section">
        <a href="/create-puesto" class="create-puesto">
        <div class="puesto-btn">
            <p class="createIt">Crear nuevo puesto  ></p>
        </div>
    </a>
    </div>
    </div>
</div>
