<div class="puestos-container">
  <div class="right-lines">
        <div class="top-line line"></div>
        <div class="middle-line line"></div>
        <div class="bottom-line line"></div>
    </div>
  <section class=" text-center container">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="">Puesto Electivo.</h1>
      <p class="lead text-muted">Cree un Puesto Electivo.</p>
      <p>
        <a href="/puestoElectivo-save" class="btn p-2 mb-2 btn-success text-white">Crear Puesto Electivo</a>
      </p>
    </div>
  </div>
</section>
<div class="multiple-dividor">
        <div class="left-dividor"></div>
        <div class="right-dividor"></div>
    </div>

<div class="row">

{{#if hasPuestoElectivo}}

{{#each puestoElectivo as |electivo|}}

<div class="col-md-3 mx-3">
  
  <div class="partido-container">
    <h5 class="parti-title">Nombre: {{electivo.nombre}}</h5>
    <div class="p-d"></div>
    <h5 class="parti-title">Descripcion: {{electivo.descripcion}}</h5>
    <div class="p-d"></div>
    <h5 class="parti-title">Estado: {{#if electivo.estado}}Activo{{else}}Inactivo{{/if}}</h5>
        
    <br>

    <form class="parti-maintenance" id="form-delete" action="/puestoElectivo-delete/{{electivo.id}}" method="post">
      <input type="hidden" name="id" value="{{electivo.id}}">
      <button type="submit" class="delete-btn de-parti" ><i class="fa-solid fa-trash de-parti"></i></button>
      <a class="parti-edit" href="/puestoElectivo-update/{{electivo.id}}?edit=true"><i class="fa-solid fa-pen parti-edit"></i></a>       
    </form>
  </div>
</div>

{{/each}}

{{else}}

<h1 class=" text-danger ">No hay Puesto Electivo Creados</h1>

{{/if}}

</div>
</div>

</div>